body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", Helvetica, Arial, sans-serif;

  .App {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    .main {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      pointer-events: none;
      width: 100vw;
      position: absolute;
    }
    

    .about-page {
      width: 80%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .bottom {
        border: black solid;
        position: fixed;
        top: 75%;
        width: 30%;
        height: 10%;
      }
    }

    .about {
      width: 40%;
      height: 55%;
      // border: black solid;
    }

    .me {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45%;
      flex-wrap: wrap;
      // border: black solid;
      .unity {
        box-sizing: border-box;
        margin: 0 7.5%;
        width: 85px;
        height: auto;
      }
      .fab {
        display: flex;
        justify-content: center;
        width: 30%;

        // background: red;
      }
    }

    .code-box {
      font-weight: bold;
      font-size: 4em;
      line-height: 1;
      // text-align: justify;
      // border: black solid;
      width: 50%;

      .about-fin {
        line-height: 0;
        font-size: 3rem;
      }

      .wd {
        background: red;
        color: white;
      }

      .m {
        background-color: green;
        color: white;
      }

      .c {
        background-color: blue;
        color: white;
      }

      .ps {
        background-color: hotpink;
        color: white;
      }

      .wrap {
        // overflow-wrap: break-word;

        span {
        }
      }
    }

    .links {
      display: flex;
      justify-content: center;

      width: 20%;
      position: fixed;
      top: 92.5vh;
      right: 14vw;
      z-index: 100;

      // margin-right: 25px;
      ul {
        width: 90%;
        display: flex;
        justify-content: space-between;

        a {
          text-decoration: none;
          color: black;
          font-size: 1.5em;
          font-weight: bold;
          &:hover {
            background-color: red;
            color: white;
            text-transform: lowercase;
            letter-spacing: 2.5px;
            // font-style: italic;
          }
        }
      }
    }

    .lines {
      position: fixed;
      pointer-events: none;
      width: 100%;
      height: 100%;
    }

    .bottom-corner {
      path {
      }
      // position: relative;
    }
  }
}

.nav-wrapper {
  background-color: aquamarine;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  nav {
    height: 100%;
    font-size: 4em;
    display: flex;
    justify-content: center;
    // align-items: center;
    flex-direction: column;
    a {
      text-decoration: none;
      text-decoration-color: black;
      &:visited {
        color: black;
      }
    }
  }
}

.btn {
  position: fixed;
  top: 10%;
  z-index: 15;
  width: 10%;
  height: 2%;
}

.projects-container {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
}